.form {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 75px;
}

.form__wrapper {
    background: #EEEFF1;
}

.form__container{
    margin: 0 555px 0;
}

.form__group{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.form__title{
    margin-bottom: 30px;
}

.form__input{
    width: 255px;
    height: 50px;
    border: none;
    margin-bottom: 36px;
    margin-left: 30px;
    padding-left: 10px;

}

.input__text{
    color: #5F5D5D;
    font-family: RobotoMedium;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 23px;
}

.form__input:focus ~ {
    display: none;
    outline: none;
}


.form__text{
    margin-bottom: 65px;

}

.big{
    width: 555px;
    height: 175px;
}

.form__button{
    margin-bottom: 100px;
}