
.projects{

}

.projects__list:nth-child(8) {
    align-items: center;
}


.projects__list {
    list-style: none;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}


.projects__item {
    position: relative;
}


.project__descr {
    background: rgba(52,84,122,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 475px;
    height: 475px;
    text-align: center;
    display: none;
    transition: all .40s;
}

.icon-view {
    padding-top: 40%;
}

.projects__item:hover .project__descr {
    display: block;
    cursor: pointer;
}


@media (max-width: 1900px){
    .projects__list{
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 768px){

}

@media (max-width: 992px) {

}